.btn button {
  padding: 6px 15px;
  margin-top: 5px;
  width: auto;
  background: #054179;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  clear: right;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.btn button:hover {
  opacity: 0.8;
}

.btn button:active {
  opacity: 0.4;
}