.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: medium;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #687cb1;
}
